# Środowisko wirtualne
venv/
.env/

# Pliki kompilowane
__pycache__/
*.pyc
*.pyo

# Edytory i IDE
.vscode/
.idea/

# Systemowe
.DS_Store
Thumbs.db

# Pliki logów
*.log

# Pliki tymczasowe
*.tmp
*.bak
